<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{image.title}}</title>
  <!-- HBS -->

  <!-- STYLES -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>

<body>

  <!-- HEADER -->
  <!-- NAVBAR -->
  <nav class="navbar is-dark is-fixed-top has-shadow">
    <div class="container">
      <!-- BRAND / LOGO -->
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/browse">
          <h1>bittos</h1>
        </a>
      </div>

      <!-- MENU ITEMS -->
      <div class="navbar-menu">
        <div class="navbar-end">

          <div class="navbar-item">

            <a class="navbar-item has-text-white menu" href="/browse">
              Browse
            </a>
            <a class="navbar-item has-text-white menu" href="/profile/1">
              Profile
            </a>

            <a class="navbar-item has-text-white is-primary menu" href="/post">
              Post
            </a>
            <a class="navbar-item button is-primary" href="/">
              Sign-up
            </a>

          </div>

        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="columns topMargin">

      <div class="column is-6 is-offset-3 is-centered">

        <!-- FOR EACH -->
        <!-- IMAGE GALLERY -->
        <div class="box menu">
          <!-- TITLE -->
          <h1 class="title">{{image.title}}</h1>
          <figure class="image is-4by3">
            <!-- IMAGE SOURCE -->
            <img src="{{image.url}}">
          </figure>
          <hr>
          <!-- DESCRIPTION -->
          <h2 class="subtitle">{{image.description}}</h2>
          <!-- USERNAME WITH LINK -->
          <h2 class="subtitle">
            <em>{{image.username}}</em>
          </h2>

          <hr>

          <!-- FOR EACH -->
          <ul>
            {{#each comments}}
            <li><em>{{comment}}</em></li>
            <li>- <b>{{username}}</b>, {{name}}</li>
            <br>
            {{/each}}
          </ul>

          <br>

          <!-- COMMENTS SECTION -->
          <div class="box comment-box menu">

            <!-- POST A COMMENT BUTTON -->
            <p class="subtitle"><em>Post a comment</em></p>

            <form action="/image/{{image.image_id}}" method="post">

              <div class="field">

                <div class="control">
                  <input name="comment" class="input is-medium" placeholder="Comment here">
                </div>
                
                <div class="control">
                  <input name="user_id" class="input is-medium" placeholder="User ID">
                </div>
                <br>
                <div class="control">
                  <input type="submit" class="button is-info" value="Post">
                </div>

            </form>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</body>

</html>